<div id="answer_question_form">

    <h2>Look Over the Question and Activate If You Can Help</h2>
    <br>
    <form class="edit_question">
      <input type="text" name='question[question]' placeholder="Question" disabled><br><br>
      <input type="text" name='question[challenge_name]' placeholder="Challenge Name" disabled><br><br>
      <input type="text" name='question[error_msg]' placeholder="Error Message" disabled><br><br>
      <textarea type="text" name='question[description]' placeholder="Description" disabled></textarea><br><br>
      <textarea type="text" name='question[code]' placeholder="Code Snippet"disabled></textarea ><br><br>
      <input type="text" name='question[location]' placeholder="Meetup Location/Personal Description" disabled><br><br>


      <button type="submit" name='activate' style="padding:.5em; float:left; width:30%;">Take On Question</button>

    </form>

</div>