<div id="edit_question_form">

    <h2>Please Fill Out As Much Info As You Can</h2>
    <br>
    <form class="post_question">
      <input type="text" name='question[question]' placeholder="Question" required><br><br>
      <input type="text" name='question[challenge_name]' placeholder="Challenge Name"><br><br>
      <input type="text" name='question[error_msg]' placeholder="Error Message"><br><br>
      <textarea type="text" name='question[description]' placeholder="description"></textarea><br><br>
      <textarea type="text" name='question[code]' placeholder="Code Snippet"></textarea><br><br>
      <input type="text" name='question[location]' placeholder="Meetup Location/Personal Description"><br><br>


      <input type="submit" value="Edit Question" style="padding:.5em; float:left; width:20%">
      <input type="submit" value="Delete Question"
      style="padding:.5em; float:right; width:20%">
    </form>

</div>