<div class="pos">
  <button class='button'>Submit Question</button>

  <div class="container">
    <%= erb :'/users/_edit_question' %>
    <%= erb :'/users/_question_form' %>
    <div id="unanswered">
      <h3>My Unanswered Questions</h3><br>
    </div>
    <div id="answered">
      <h3>My Answered Questions</h3><br>
    </div>
  </div>
</div>