<div class='header'>

    <h1>Ask DBC</h1>

    <% if session[:current_user] %>
      <a href='/signout'>Sign Out</a>
      <a href="/users/<%= session[:current_user] %>"> Profile</a>
    <% else %>
      <button><a href='/auth'>Log In With Google</a></button>
    <% end %>

</div>